*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(140, 140, 229);
}

.header{
    display: flex;
    flex-direction: column;
    
}

.navegación{
    width: 90vw;
    margin: auto;
    
}


.menú{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px;
    
}

.menú li{
    background-color: black;
    border-radius: 10px;
    }
    
    /* index */

.audioslave7{
    width: 80vw;
    margin:20px auto;
    border-radius: 20px; 
    display:flex;
}

.sgA, .rage1{
    width: 80vw;
    margin: 20px;
    border-radius: 20px;
}

/* bandas de origen*/
.SoundBo, .RageBo{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center
    ;
}

/* integrantes */
.sec1Int, .sec2Int, .sec3Int, .sec4Int{
    display: flex;
    align-items: center;
    margin: 20px;
}

.int1, .int2, .int3, .int4{
border-radius: 20px;
}

.pieDePágina{
    width: 90vw;
    margin: auto;
}
.pie{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px;
    
}

.pie li{
    background-color: black;
    border-radius: 10px;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: white;
    background-color: black;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h2{
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: black;

}

p{
    display: flex;
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    line-height: 2rem;
    text-align: center;
    font-weight:bold;
    margin: 15px;
    color: black;
}

/* dicografía */
.list1, .list2 , .list3{
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    color: black;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 2.5rem;
}

.secDisc1, .secDisc2, .secDisc3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.disco1, .disco2, .disco3{
   border-radius: 20px;
   margin-left: 20px;
}

/* canciones destacadas */
.secciónCD1, .secciónCD2, .secciónCD3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

section{
    display: flex;
}





